/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/*
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44
 / 52 / 62 / 74 / 86 / 98
*/

/*
Main Color: #e8590c
Grey Color: #212529
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212529;
  border-top: 10px solid #e8590c;
  border-bottom: 10px solid #e8590c;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 96px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 70px;
  row-gap: 70px;
}
/* Headings */

h1,
h2,
h3 {
}

.main-h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 0;
}

.main-h1:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #e8590c;
}

h1 {
  margin-bottom: 32px;
  /* text-transform: uppercase; */
  font-size: 52px;
  line-height: 1.1;
  letter-spacing: -1.5px;
}

/* .for--background {
  background-color: #ffe8cc;
  padding: 20px 40px;
} */

/* Header */

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
  margin-top: 48px;
}

.main-header {
  background-color: #ffe8cc;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

nav {
  font-size: 18px;
}

.btn:link,
.btn:visited {
  background-color: #e8590c;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 500;
  box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 300ms;
}

.btn:hover,
.btn:active {
  background-color: #f76707;
  box-shadow: 0 37px 20px -20px rgba(0, 0, 0, 0.2);
  transform: translate(0, -10px);
}

.btn--big {
  padding: 16px 32px;
  font-size: 18px;
  border-radius: 100px;
  /* border-bottom-left-radius: 0; */
}

.btn--samll {
  font-size: 14px;
  padding: 12px 16px;
  border-radius: 100px;
}

/* Styling Links */

nav a:link {
  color: #e8590c;
  text-decoration: none;
}

nav a:visited {
  color: #e8590c;
}

nav a:hover {
  color: #f76707;
  font-style: italic;
}

nav a:active {
  color: #f76707;
  font-style: italic;
}

nav a:link {
  display: inline-block;
  margin-right: 30px;
}

nav a:link:last-child {
  margin-right: 0px;
}

h2 {
  margin-bottom: 32px;
  font-size: 36px;
  letter-spacing: -0.7px;
}

.header-text-box {
  align-self: center;
}

.header-text {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 1.6;
}

/* Features */

.feature-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.feature-text {
  font-size: 18px;
  line-height: 1.6;
}

.features-icon {
  width: 32px;
  height: 32px;
  margin-bottom: 24px;
}

.features-icon2 {
  width: 24px;
  height: 24px;
  margin-right: 0px;
}

/* Testimonials */

.testimonial-section {
  background-color: #e8590c;
  padding: 28px;
  color: #fff;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.14);
  border-radius: 16px;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  margin-bottom: 24px;
  font-size: 26px;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.6;
}

/* Picas */

.pica {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  border-radius: 16px;
}

/* FOR IMAGES */
/* .image-happy1 {
  position: relative;
  top: 0;
  left: 0;
  border: 1px red solid;
  z-index: 1;
} */

/* .image-happy2 {
  position: absolute;
  top: 100px;
  left: 500px;
  z-index: 2;
} */

img {
  border-radius: 16px;
}

.pica img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.pica-box {
  padding: 32px;
}

.pica-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: 20px;
  row-gap: 24px;
  /* justify-items: center; */
  
}

.pica-item ul {
  grid-column: 2;
}

h3 {
  /* margin-bottom: 24px; */
  font-size: 24px;
  /* text-align: center; */
  display: inline-block;
}

.pica-details {
  list-style: none;
  margin-bottom: 48px;
}

.pica-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  /* margin-left: 28px; */
}

.pica-details li:last-child {
  margin-bottom: 0;
}

.pica-price li {
  margin-bottom: 16px;
}

.pica-price li:last-child {
  margin-bottom: 0;
}

.pica-price ul {
  margin-bottom: 32px;
}

.pica-price2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.flex-align {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

footer {
  text-align: center;
  margin-bottom: 32px;
  font-size: 14px;
  color: #495057;
}
